* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    height: 100vh;
    border: solid black 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.child1 {
    width: 100px;
    height: 100px;
    background: crimson;
}

.child2 {
    width: 100px;
    height: 100px;
    background: lightgreen;
}

.child3 {
    width: 100px;
    height: 100px;
    background: lightblue;
}

.child4 {
    width: 100px;
    height: 100px;
    background: lightyellow;
}

.child5 {
    width: 100px;
    height: 100px;
    background: violet;
}